// banner
.banner-heady {
	margin: 0;
	padding: 4em 5.5% 0;
	font-size: 72 / 16 * 1em;
	line-height: 1;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	@extend %header-thick;
}

.banner-description {
	width: 45%;
	padding: 0 0 0 5.7%;
	font-size: .875em;
	line-height: 1.5;
	color: #fff;
}

.alt-color .banner-heady,
.alt-color .banner-description {
	color: #fff;
}

.l-banner {
	background: siu("Banner_2_earlybird.jpg") no-repeat center top;
}