// behind primal

// image grid, maybe move it to its own file?

.image-grid {
	margin-top: 3em;
}

.image-grid-row {
	clear: both;
}

.image-grid-full-img {
	width: 390px;
	height: 236px;
	float: left;
	margin-bottom: 14px;
	border: 1px solid #ccc;
}

.image-grid-half-img {
	width: 188px;
	height: 240px;
	float: left;
	margin-bottom: 14px;
	border: 1px solid #ccc;
}

.image-grid-half-img.image-grid-tall-img {
	height: 282px;
}

.image-grid-quarter-img {
	width: 188px;
	height: 134px;
	float: left;
	margin-bottom: 14px;
	border: 1px solid #ccc;
}

.image-grid-pull-right {
	float: right;
}