// ==========================================================================
// homepage roto content
// ==========================================================================

.homepage-roto-main-content {

	h1 {
		@extend %sub-header;
		margin: -6px 0 1em;
		font-size: 26px;
		font-size: 26 / 16 * 1rem;
		line-height: 1.1;
		letter-spacing: 1px;
		// text-transform: uppercase;
		vertical-align: top;
	}

	h2 {
		@extend %sub-header-alt;
		margin: 1em 0 .25em;
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.2;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 1.5em;
	}
}

// .homepage-roto-main-content.alt-color {
// 	h2 {
// 		color: #fff;
// 	}
// }