// shop

.l-product-main-image-con {
    img {
        max-width: 100%;
        height: auto;
    }
}

.product-images-thmb {
    list-style: none;
    margin: 0;
    padding: 0;
}

.l-product-main-image-con {
    margin-bottom: 1em;
}

.product-images-thmb {
    li {
        display: block;
        width: 116px;
        height: 168px;
        overflow: hidden;
        float: left;
        margin: 0 20px 20px 0;
        
        &.last {
            margin-right: 0;
        }

    }
}

.product-thmb {
    max-width: 100%;
    height: auto;
}

.product-details-title-price {
    padding: (26 / 16 * 1em) 0;
    border-top: 1px solid $color-nother-gray;
    border-bottom: 1px solid $color-nother-gray;
}

.product-details-title {
    float: left;
    width: 58%;
    margin: 0;
    font-size: 36 / 16 * 1em;
    line-height: 1;
    text-transform: uppercase;
}

.product-details-price-con {
    float: right;
    width: 30%;
}

.product-details-compare-price,
.product-details-price {
    font-size: 36 / 16 * 1em;
    margin: 0;
    line-height: 1;
    color: #ccc;
    font-family: $font-family-header-thin;
    text-align: right;
}
