<div class="l-banner">
    <h1 class="banner-heady">Shop</h1>
    <nav class="main-subpage-nav in-banner clearfix">
        <ul class="l-horizontal-nav clearfix">
            <li>
                <a href="{{ shop.url }}" class="subpage-pill active">Shop</a>
            </li>
            <li>
                <a href="/cart" class="subpage-pill">Cart</a>
            </li>
        </ul>
    </nav>
</div>
<article class="l-content-panel">
    <div class="l-content-panel-col-left">
        
    </div>
    <div class="l-content-panel-col-right">
        {{ pages.frontpage.content }}
    </div>
    <div class="panel-down-btn">
        
    </div>
    <div class="panel-up-btn">
        
    </div>
</article>